@model SeaweedChat.Infrastructure.Models.User
@{
    ViewData["Title"] = "Home Page";
    ViewData["UserName"] = Model?.Username ?? "";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome back, @Model.Username<br />to SeaweedChat</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to SeaweedChat</h1>
        <p>For using SeaweedChat you should to <a asp-area="" asp-controller="Account" asp-action="Register">register</a>.</p>
    }
</div>
