@model IEnumerable<SeaweedChat.Models.ChatPreviewModel>;

@{
    ViewData["Title"] = "Messages";
}

<div class="messanger">
    <div class="chat-list">
        <div class="chat-search-box form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
        </div>

        @foreach (var preview in Model)
        {
            <div class="chat-preview">
                <p>@preview.Text</p>
            </div>
        }
    </div>
    <div class="message-welcome-box">
        <button type="button" class="btn btn-outline-success btn-lg">Start Chat</button>
    </div>
</div>

@section Styles 
{
    <link rel="stylesheet" href="~/css/chat.css"/>
} 