@model IEnumerable<SeaweedChat.Models.ChatPreviewModel>;

@{
    ViewData["Title"] = "Messages";
}

<div class="messanger">
    <div class="chat-list">
        <div class="chat-search-box form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
        </div>

        @foreach (var preview in Model)
        {
            <div class="chat-preview">
                <p>@preview.Text</p>
            </div>
        }
    </div>
    <div class="message-welcome-box">
        <form asp-action="RedirectToChat" method="get" enctype="application/x-www-form-urlencoded">
            <div class="input-group w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                </div>
                <input type="text" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-success">Start Chat</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Styles 
{
    <link rel="stylesheet" href="~/css/chat.css"/>
} 