@model SeaweedChat.Models.RegisterModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="form-singup" asp-action="Register" method="post" enctype="multipart/form-data">
        <h1 class="display-4">SeawoodChat</h1>
        <h3 class="font-weight-light">Registration</h3>
        <div class="form-group row">
            <label class="sr-only" asp-for="Username">Username</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@@</div>
                </div>
                <input type="text" asp-for="Username" class="form-control" placeholder="Username" value="@(Model?.Username ?? "")" />
            </div>
            <span class="form-text text-muted" asp-validation-for="Username"></span>
        </div>
        <div class="form-group row">
            <label class="sr-only" asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control" placeholder="email@@example.com" />
            <span class="form-text text-muted" asp-validation-for="Email"></span>
        </div>
        <div class="form-group row">
            <label class="sr-only" asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
            <span class="form-text text-muted" asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

<style>
    .form-singup {
        width: 100%;
        max-width: 350px;
        padding: 15px;
        margin: 0 auto;
    }
</style>