@model SeaweedChat.Models.UpdateSettingsModel
@using SeaweedChat.Models
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Settings</h1>
    <form class="mainSection" asp-action="UpdateSettings" method="post" enctype="multipart/form-data">
        @* Username point *@
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Username">Username</label>
            <div class="col-sm-10">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@@</div>
                    </div>
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" value="@(Model?.Username ?? "")" />
                </div>
                <span class="form-text text-muted" asp-validation-for="Username"></span>
            </div>
        </div>

        @* Email point *@
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Email">Email</label>
            <div class="col-sm-10">
                <input type="email" asp-for="Email" class="form-control" placeholder="email@@example.com" value="@(Model?.Email ?? "")" />
                <span class="form-text text-muted" asp-validation-for="Email"></span>
            </div>
        </div>

        @* Password point *@
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Password">Password</label>
            <div class="col-sm-10">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span class="form-text text-muted" asp-validation-for="Password"></span>
            </div>
        </div>

        @* Save Changes *@
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="ConfirmPassword">Confirm</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Password" asp-for="ConfirmPassword">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </div>
                <span class="form-text text-muted" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </form>
</div>  

<style>
    .mainSection {
        width: 100%;
        max-width: 750px;
        padding: 15px;
        margin: 0 auto;
    }
</style>
