.messanger {
    background: #ffac34;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    height: 83vh;
}

.chat-search-box > input {
    border: 0px;
    background: #18242c;
}

.chat-list {
    display: flex;
    flex-direction: column;
    background: #18242c;
    width: 30%;
    max-width: 30%;
}

.chat-preview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #c7cccf;
    margin: 5% 5% 5% 10%;
}

.message-box {
    border-left: 2px solid #1c2430;
    display: flex;
    background: #3e4e59;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
}

.message-welcome-box {
    border-top: 24px solid #18242c;
    border-left: 2px solid #1c2430;
    display: flex;
    background: #3e4e59;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.message-box-header {
    text-align: center;
    color: #ffac34;
    font-size: 24px;
    background: #18242c;
}

.message-box-footer {
    width: 100%;
}

    .message-box-footer > div > input,
    .message-box-footer > div > input:focus {
        border: 0;
        color: white;
        background: #384c54;
    }

.message {
    display: flex;
    width: max-content;
    flex-direction: column;
    color: white;
    max-width: 50%;
    background: #38444c;
    border-radius: 10px;
    border: 10px solid #38444c;
    margin: 1% 1% 1% 1%;
}

.message-author {
    color: #2596be;
}